@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --base-color: #0e0033;
    --text-color: #ffffff;
    --primary-color: #00ff00;
    --secondary-color: #e034c1;
}

.text-title {
    color: var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: calc(2em + 1vw);
    padding: 1em;
}

.about-text {
    text-align: center;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
    font-size: calc(1px + 1vw);
    padding: 3em;
    gap: 5em;
}

.news {
    text-align: center;;
    max-width: 1300px;
    margin: 0 auto;
    font-size: calc(1px + 1vw);
    padding: 3em;
    gap: 5em;
}

/*Code resourced from Pavel Laptev
https://pavellaptev.medium.com/css-weekly-2-an-image-on-the-left-text-on-the-left-a5e59b2acdb5
*/
.burst {
  padding: 20px 40px 40px;
  max-width: 2000px;
}
@media (min-width: 900px) {
  .burst {
    display: flex;
    justify-content: center;
  }

  .burst__image,
  .burst__text {
    width: 50%;
  }
}
@media (max-width: 899px) {
  .burst__image,
  .burst__text {
    width: 100%;
  }

  .burst__image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.burst__image,
.burst__text {
  padding: 1em;
}


.explore {
  padding: 20px 40px 40px;
  max-width: 2000px;
}


@media (min-width: 900px) {
  .explore {
    display: flex;
    justify-content: center;
  }

  .explore__image {
    order: 2;
    width: 50%;
  }

  .explore__text {
    order: 1;
    width: 50%;
  }
}

@media (max-width: 899px) {
  .explore__image,
  .explore__text {
    width: 100%;
  }

  .explore__image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .explore__image {
    order: 1;
  }

  .explore__text {
    order: 2;
  }
}

.explore__image,
.explore__text {
  padding: 1em;
}



#orb-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.orb {
    position: absolute;
    bottom: -150px;
    opacity: 0.7;
    pointer-events: none;
    will-change: transform;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Audiowide;
    color: var(--text-color);
    overflow: hidden;
    height: 100%;
}

body{
    
    overflow-x: hidden !important;
    padding: -2em;
    background: #0e0033;
    background-image: linear-gradient(black, #0e0033);
    height: 100%;
    overflow: auto;
}

h1, h2, h3 {
    font-family: Orbitron;
}

nav {
    padding: 0;
    height: 0px;
    margin: 1em auto 3em auto;
    width: min(1200px, 100%);
}


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    text-decoration: underline;
}

header {
    color: var(--text-color);
    position: sticky;
    top: 0px;
    margin: auto;
    width: min(75rm, 100%);
    padding: 20px;
    z-index: 10000;
    font-size: calc(10px + 1vw);
}

.headerBG {
    width: 120%;
    color: rgba(0, 0, 0, 0);
    top: 0;
    background-color: black;
    margin-top: -125px;
    margin-left: -3
    0px;
    padding: 50px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding-top: -20px;
}

.game-container {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: calc(0.5em + 1vw);
}

.steam-logo {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.dash{
    padding: 30px;
}

.trailer-text {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: calc(0.5em + 1vw);
    padding: 30px
}

/*
Source - https://stackoverflow.com/a/17465040
Posted by Björn Blomqvist, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-12, License - CC BY-SA 4.0
*/

.auto-resizable-iframe {
    max-width: 960px;
    margin: 0px auto;
    max-height: 540;
    padding: 30px;
}


.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 56%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}



.dash2{
    padding: 20px;
    
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: calc(0.3em + 0.2vw);

}

.steam-copyright {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: calc(0.3em + 0.2vw);
    padding-bottom: 40px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.vignette {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
}

